*{/*Toutes les balises auront la couleur rouge*/
    color:red;
}

.parableu{/*Toute balise de la classe parableu aura la couleur bleue*/
    color:blue;
}

#parared{/*Toute balise ayant l'id parared aura la couleur  rouge*/
    color:red;
}

.bleu/*Toute balise de la classe bleu aura la couleur bleue*/
{
color:blue;
}
p.vert/*Tout paragraphe de la classe vert aura la couleur verte*/
{
    color:green;
}

.vt{
    color: green;
}

.bord{
    border:1px solid green
}